body {
  font-size: 14px;
  width: 100%;
  box-sizing: content-box;
  background-image: url('../img/poppy-186635_1920.jpg');
  background-size: cover;
}
.nav {
  width: 50%;
  position: absolute;
}
.nav-link {
  color: white;
  font-size: 1.4rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  border-radius: 0;
  background-color: #127a88;
}
a:hover {
  color: #127a88;
}
.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.container-left,
.container-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-right {
  background-color: #000000c2;
}
.container-left > p {
  font-size: 4rem;
  font-family: 'Satisfy', cursive;
  margin-bottom: 0;
  display: flex;
  color: white;
}
.code-sign {
  font-size: 4rem;
  color: white;
  font-weight: 900;
}
.text > p {
  font-size: 1.1rem;
  color: white;
  line-height: 4rem;
  text-align: center;
}
article {
  width: 100%;
  height: 100%;
  padding: 2rem 7rem;
}
#perfil-picture {
  border-radius: 100%;
  margin-right: 3rem;
}
.heading-presentation {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}
.picture {
  text-align: center;
  margin-top: 4rem;
}
.picture > img {
  width: 16rem;
}
.first-word,
.second-word {
  display: flex;
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-device-width:480px) {
  html {
    font-size: calc(10px + 4 * ((100vw - 320px) / 801));
  }
  body {
    background-image: url('../img/poppy-186635_1920.jpg');
  }
  .nav-link {
    font-size: 1.4rem;
  }
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:510px) {
  .nav {
    width: 50%;
    position: fixed;
    top: 0;
    justify-content: unset;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {

}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
  html {
    font-size: 14px;
  }
}