/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
html {
  font-size: 10px;
}
body {
  width: 100%;
  box-sizing: content-box;
  background-image: url('../img/flower-background-mobile.jpg');
  background-size: cover;
}
/*Navbar*/
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: space-around;
  display: flex;
  z-index: 1;
}
.nav-link {
  color: white;
  font-size: 1.7rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  border-radius: 0;
  background-color: #b88d8c8f;
}
a:hover {
  color: #127a88;
}
/*main containers*/
.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.container-left {
  width: 0%;
  justify-content: left;
}
.container-right {
  width: 100%;
  overflow-y: auto;
  background-color: #0000007a;
  justify-content: center;
}
.container-left,
.container-right {
  display: flex;
  align-items: center;
}
/*left side content*/
.menu-indication > p {
  font-size: 4rem;
  font-family: helvetica, arial;
  margin-bottom: 0;
  display: flex;
  color: white;
  visibility: hidden;
}
/*right side content*/
.container-article {
  width: 100%;
  height: 90%;
}
article {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}
.heading-presentation {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 2.5rem;
}
#perfil-picture {
  border-radius: 100%;
  margin-right: 3rem;
  width: 9rem;
}
.text > p {
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: white;
  text-align: center;
}
.text-title {
  background-color: #b88d8c8f;
}


/* smartphones, Android phones, landscape iPhone */
@media screen and (min-device-width:480px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 480px) / 801));
  }
  .nav-link {
    font-size: 19.6px;
  }
  article {
    padding: 1rem 1rem;
  }
  .text > p {
  }
  .heading-presentation {
    margin-top: 0rem;
    margin: 2.6rem;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {}

@media screen and (min-width:640px) {
    body {
    background-image: url('../img/flower-background.jpg');
  }
  .nav {
    justify-content: unset;
  }
  .nav-link {
    padding: 1rem 2rem;
  }
    .container-left {
    width: 35%;
  }
    .container-right {
    width: 65%;
  }
  .heading-presentation {
    margin: 2.7rem;
    margin-top: 0rem;
  }
  .menu-indication > p {
    visibility: visible;
  }
  .container-right {
    background-color: #000000c2;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {
  .text > p {
    line-height: 2.5rem;
    font-size: 1.6rem;
  }
  .heading-presentation {
    margin: 2.8rem;
    margin-top: 0rem;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1027px) {
  .container-left {
    width: 40%;
    justify-content: center;
  }
  .container-right {
    width: 60%;
  }
  .text > p {
    line-height: 2rem;
    font-size: 1.2rem;
  }
  .heading-presentation {
    margin: 2.9rem;
    margin-top: 0rem;
  }
  .menu-indication:nth-child {
    font-size: 3rem;
  }
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
  html {
    font-size: 16px;
  }
  .container-left,
  .container-right {
    width: 50%;
  }
  .heading-presentation {
    margin: 3rem;
    margin-top: 0rem;
  }
}