/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
html {
  font-size: 10px;
}
body {
  width: 100%;
  box-sizing: content-box;
  background-image: url('../img/poppy-186635_1920.jpg');
  background-size: cover;
}
/*Navbar*/
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: space-around;
  display: flex;
  z-index: 1;
}
.nav-link {
  color: white;
  font-size: 1.7rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  border-radius: 0;
  background-color: #127a88;
}
a:hover {
  color: #127a88;
}
/*main containers*/
.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}
.container-left {
  width: 10%;
  justify-content: left;
}
.container-right {
  width: 90%;
  overflow-y: auto;
  background-color: #000000c2;
  justify-content: center;
}
.container-left,
.container-right {
  display: flex;
  align-items: center;
}
/*left side content*/
.menu-indication > p {
  font-size: 4rem;
  font-family: 'Satisfy', cursive;
  margin-bottom: 0;
  display: flex;
  color: white;
  visibility: hidden;
}
/*right side content*/
.container-icons {
  display: block;
  align-items: center;
}
.container-icons > p {
  font-size: 4rem;
  font-family: 'Satisfy', cursive;
  margin-bottom: 0;
  color: white;
}
.icon {
  color: white;
  font-size: 5rem;
  margin: 3rem;
}
.icon:hover {
  color: #127a88;
}


/* smartphones, Android phones, landscape iPhone */
@media screen and (min-device-width:480px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 480px) / 801));
  }
  .nav-link {
    font-size: 19.6px;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {}

@media screen and (min-width:640px) {
  body {
    background-image: url('../img/poppy-186635_1920.jpg');
  }
  .nav {
    justify-content: unset;
  }
  .nav-link {
    padding: 1rem 2rem;
  }
  .container-left {
    width: 35%;
  }
  .container-right {
    width: 65%;
  }
  .menu-indication > p {
    visibility: visible;
  }
  .container-icons {
    display: flex;
  }
  .icon {
    font-size: 4rem;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {

}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1027px) {
  .container-left {
    width: 40%;
    justify-content: center;
  }
  .container-right {
    width: 60%;
  }
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
  html {
    font-size: 16px;
  }
  .container-left,
  .container-right {
    width: 50%;
  }
}