body {
  font-size: 14px;
  background-color: white;
  background-image: url('../img/poppy-186635_1920.jpg');
  background-size: cover;
}
.nav {
  border-bottom: 0.5rem solid #127a88;
  background-image: url('../img/turquoise-background-767269.jpg');
  background-attachment: fixed;
}
.nav-link {
  color: white;
  font-size: 1.4rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  border-radius: 0;
  background-color: #127a88;
}
a:hover {
  color: #127a88;
}
.header-image > img {
  width: 100%;
}
.main-text {
  color: black;
  text-align: center;
  margin-top: 7rem;
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
}
.animated {
  animation-duration: 4s;
}
footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
  justify-content: space-around;
  display: flex;
}
.icons {
  color: white;
  font-size: 1rem;
}
.title > h2,
.subtitle > p {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 1.6rem;
  font-family: "futura_m", sans-serif;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(2, 11, 22, 0.5);
  color: white;
}
#title1 {
  margin-top: 9rem;
  margin-left: 2rem;
}
#title2 {
  margin-left: 6rem;
}
.subtitle > p {
  font-size: 3rem;
  margin-left: 10rem;
}