body {
  font-size: 14px;
  width: 100%;
  box-sizing: content-box;
  background-image: url('../img/poppy-186635_1920.jpg');
  background-size: cover;
}
.nav {
  width: 50%;
  position: fixed;
  top: 0;
}
.nav-link {
  color: white;
  font-size: 1.4rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  border-radius: 0;
  background-color: #127a88;
}
a:hover {
  color: #127a88;
}
.title > h2,
.subtitle > p {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 1.6rem;
  font-family: "futura_m", sans-serif;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(2, 11, 22, 0.5);
  color: white;
}
#title1 {
  margin-top: 9rem;
  margin-left: 2rem;
}
#title2 {
  margin-left: 6rem;
  animation-delay: 300ms;
}
.subtitle > p {
  font-size: 3rem;
  margin-left: 10rem;
}
.animated {
  animation-duration: 3s;
}
.subtitle {
  animation-delay: 600ms;
}

@media screen and (min-device-width : 601px) and (min-width: 601px) {
  body {
    font-size: 1.2rem;
  }
  .row-cart {
    width: 85%;
  }
  input {
    width: 3rem;
  }
}

@media screen and (min-device-width : 993px) and (min-width: 993px) {
  body {
    font-size: 1.3rem;
  }
  .row-cart {
    width: 75%;
  }
  input {
    width: 6rem;
  }
}

@media screen and (min-device-width : 1201px) and (min-width: 1201px){
  body {
    font-size: 1.4rem;
    min-width: 1000px;
  }
  .row-cart {
    width: 65%;
  }
  input {
    width: 8rem;
  }
}
