/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

html {
  font-size: 10px;
}
body {
  width: 100%;
  background-image: url("../img/flower-background-mobile.jpg");
  background-size: cover;
}
/*Navbar*/
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: space-around;
  display: flex;
  z-index: 1;
}
.nav-link {
  color: white;
  font-size: 1.7rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  border-radius: 0;
  background-color: #127a88;
}
a:hover {
  color: #127a88;
}
/*title and subtitle*/
.title-container {
  height: 40%;
  background-color: #0000007a;
  display: flex;
  align-items: flex-end;
  animation-duration: 1s;
  padding-bottom: 2rem;
}
.title > h2,
.subtitle > p {
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: "futura_m", sans-serif;
  text-shadow: 0 1px 1px rgba(2, 11, 22, 0.5);
  color: white;
}
#title1 {
  margin-left: 3rem;
  animation-delay: 800ms;
  animation-duration: 4s;
}
#title2 {
  margin-left: 7rem;
  animation-delay: 1200ms;
  animation-duration: 4s;
}
.subtitle > p {
  font-size: 1.5rem;
  margin-left: 11rem;
  color: #b88d8d;
}
.subtitle {
  animation-delay: 1800ms;
}


/* smartphones, Android phones, landscape iPhone */
@media screen and (min-device-width:480px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 480px) / 801));
  }
  .nav-link {
    font-size: 19.6px;
  }
  .title > h2,
  .subtitle > p {
    font-size: 6rem;
    margin-bottom: 1.6rem;
  }
  #title1 {
    margin-left: 2rem;
  }
  #title2 {
    margin-left: 6rem;
  }
  .subtitle > p {
    font-size: 3rem;
    margin-left: 10rem;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {}

@media screen and (min-width:640px) {
  body {
    background-image: url("../img/flower-background.jpg")
  }
  .nav {
    justify-content: unset;
  }
  .nav-link {
    padding: 1rem 2rem;
  }
  .title-container {
    height: 60%;
  }
  .title > h2,
  .subtitle > p {
    line-height: 1;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
  html {
    font-size: 16px;
  }
}