/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

html {
  font-size: 10px;
}
body {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: url("../img/flower-background-mobile.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}
/*Navbar*/
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: space-around;
  display: flex;
  z-index: 1;
}
.nav-link {
  color: white;
  font-size: 1.7rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  border-radius: 0;
  background-color: #b88d8c8f;
}
a:hover {
  color: #b88d8c8f;
}
/*projects section- title and subtitle*/
.title {
  margin: 4rem;
  margin-bottom: 0;
  text-align: center;
  color: white;
}
.title > h2 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin-top: 1.5rem;
}
.subtitle > h5 {
  margin: 2rem;
  margin-top: 0;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}
/*projects section- articles*/
.wrap-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.list-group {
  left: 0;
  overflow-y: hidden;
  overflow: auto;
  height: 70%;
  width: 0%;
}
.list-group::-webkit-scrollbar {
}
.list-group-item {
  background-color: #b88d8c8f;
  color: white;
  margin: 1px;
  border: 0;
}
.list-group-item.active {
  background-color: #b88d8c8f;
}
.scrollspy-example {
  overflow: auto;
  width: 100%;
  background-color: white;
  margin-top: 0;
}
.scrollspy-example::-webkit-scrollbar {
  width: 0;
}
.project {
  height: unset;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project > h4 {
  text-align: center;
  padding: 4rem 0 2rem 0;
  font-weight: bold;
}
.project > p {
  text-align: center;
  margin: 3.5rem 0;
}
.project-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project-picture-container > a > img,
.project-picture-container > img {
  width: 14rem;
}
.project-picture-text {
  margin-top: 2rem;
}
.project-picture-text > p {
  margin-bottom: 0;
}
.project-text {
  width: 80%;
  margin: 1rem 0;
}

/* smartphones, Android phones, landscape iPhone */
@media screen and (min-device-width:480px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 480px) / 801));
  }
  .nav-link {
    font-size: 19.6px;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {}

@media screen and (min-width:640px) {
  body {
    background-image: url('../img/flower-background.jpg');
  }
  .nav {
    justify-content: unset;
  }
  .nav-link {
    padding: 1rem 2rem;
  }
  .list-group {
    width: 13%;
    margin: 0.5rem;
    margin-top: 0;
  }
  .project {
    height: 100%;
    display: none;
  }
  .project-container {
    flex-direction: unset;
    align-items: unset;
  }
  .project-picture {
    display: flex;
    width: 33.33%;
  }
  .project-text {
    width: 33.33%;
    margin: 0.5rem;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  .project-text {
    margin: 2rem;
  }
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
  html {
    font-size: 16px;
  }
}