/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

html {
  font-size: 10px;
    scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: url("../img/poppy-186635_1920.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
/*Navbar*/
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: space-around;
  display: flex;
  z-index: 1;
}
.nav-link {
  color: white;
  font-size: 1.7rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  border-radius: 0;
  background-color: #127a88;
}
a:hover {
  color: #127a88;
}
/*projects section- title and subtitle*/
.title {
  margin: 5rem;
  margin-bottom: 0;
  text-align: center;
  color: white;
}
.title > h2 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}
.subtitle > h5 {
  margin: 2rem;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}
/*projects section- articles*/
.wrap-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.list-group {
  left: 0;
  width: 10rem;
  width: 20%;
  overflow-y: hidden;
  sssoverflow: scroll;
  height: 70%;
  width: 20%;
}
.list-group::-webkit-scrollbar {
}
.list-group-item {
  background-color: #ffffff1c;
  color: white;
}
.list-group-item.active {
  ssscolor: black;
  sssbackground-color: white;
  sssborder-color: white;
  background-color: #ffffff1c;
  border: 1px solid rgba(0,0,0,.125);
}
.scrollspy-example {
  overflow: auto;
  width: 80%;
  background-color: #ffffff8c;
  padding: 2rem;
}
.scrollspy-example::-webkit-scrollbar {
  background-color: #ffffffa8;
  visibility: hidden;
}
.project-picture > img {
  width: 15rem;
}
.project-text > p,
.project-text > h4 {
  color: black;
}

/* smartphones, Android phones, landscape iPhone */
@media screen and (min-device-width:480px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 480px) / 801));
  }
  .nav-link {
    font-size: 19.6px;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {}

@media screen and (min-width:640px) {
  .nav {
    justify-content: unset;
  }
  .nav-link {
    padding: 1rem 2rem;
  }
    body {
    background-image: url('../img/poppy-186635_1920-color2.jpg');
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
  html {
    font-size: 16px;
  }
}