/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

html {
  font-size: 10px;
}
body {
  width: 100%;
  box-sizing: content-box;
  background-image: url("../img/poppy-186635_1920-mobile.jpg");
  background-attachment: fixed;
}
/*Navbar*/
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: space-around;
  display: flex;
  z-index: 1;
}
.nav-link {
  color: white;
  font-size: 1.7rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  border-radius: 0;
  background-color: #127a88;
}
a:hover {
  color: #127a88;
}
/*projects section*/
.title {
  margin: 6rem;
  text-align: center;
  color: white;
}
.title > h2 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}
.subtitle > h5 {
  margin: 2rem;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}
.container {
  position: flex;
  height: 100%;
  width: 100%;
  margin-right: 5rem;
}
.list-group {
  position: fixed;
  left: 0;
  margin: 2rem;
  width: 20rem;
  width: 20%;
}
.list-group-item {
  background-color: #ffffff1c;
  color: white;
}
.scrollspy-example {
  margin-top: 6rem;
  margin-left: -9rem;
  width: 1193px;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000008f;
  margin-right: 2rem;
}
.project-text {
  margin: 2rem;
}
.project-picture > img {
  width: 15rem;
  margin-left: 2rem;
}
.project-text > p,
.project-text > h4 {
  color: white;
}


/* smartphones, Android phones, landscape iPhone */
@media screen and (min-device-width:480px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 480px) / 801));
  }
  .nav-link {
    font-size: 19.6px;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {}

@media screen and (min-width:640px) {
  .nav {
    justify-content: unset;
  }
  .nav-link {
    padding: 1rem 2rem;
  }
    body {
    background-image: url('../img/poppy-186635_1920.jpg');
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
  html {
    font-size: 16px;
  }
}